<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hat_cloud.sudoku">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.hat_cloud.sudo.activity.SudokuMain"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hat_cloud.sudo.activity.About"
            android:label="@string/title_activity_about"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.hat_cloud.sudo.activity.Prefs"
            android:label="@string/settings_label" />
        "
        <activity
            android:name="com.hat_cloud.sudo.activity.Game"
            android:label="@string/title_activity_game" />
        <activity
            android:name="com.hat_cloud.sudo.activity.GamePKTime"
            android:label="@string/title_activity_game" />
        <activity
            android:name="com.hat_cloud.sudo.activity.GameCommon"
            android:label="@string/title_activity_game" />
        <activity
            android:name="com.hat_cloud.sudo.activity.GamePKCompertition"
            android:label="@string/title_activity_game" />
        <activity
            android:name="com.hat_cloud.sudo.activity.GamePKCommunication"
            android:label="@string/title_activity_game" />
        <activity
            android:name="com.hat_cloud.sudo.activity.GamePKHelp"
            android:label="@string/title_activity_game" />
        <activity
            android:name="com.hat_cloud.sudo.activity.BlueActivity"
            android:label="@string/title_activity_blue" />

        <service
            android:name="com.hat_cloud.sudo.task.TaskService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.hat_cloud.sudo.chat.ChatActivity" />
        <activity android:name="com.hat_cloud.sudo.activity.RankActivity"></activity>
    </application>

</manifest>