<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hat_cloud.sudoku">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.Theme.AppCompat">
        <activity
            android:name=".activity.SudokuMain"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Prefs"
            android:label="@string/settings_label" />
        "
        <activity
            android:name=".activity.Game"
            android:label="@string/title_activity_game" />
        <activity
            android:name=".activity.GamePKTime"
            android:label="@string/title_activity_game" />
        <activity
            android:name=".activity.GameCommon"
            android:label="@string/title_activity_game" />
        <activity
            android:name=".activity.GamePKCompertition"
            android:label="@string/title_activity_game" />
        <activity
            android:name=".activity.GamePKCommunication"
            android:label="@string/title_activity_game" />
        <activity
            android:name=".activity.GamePKHelp"
            android:label="@string/title_activity_game" />
        <activity
            android:name=".activity.BlueActivity"
            android:label="@string/title_activity_blue" />
        <activity android:name=".activity.ManualActivity"></activity>

        <service
            android:name=".task.TaskService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.RankActivity" />
    </application>

</manifest>